html, body, #container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: small;
}

.stategrid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.path {
    font-size: large;
    font-weight: bold;
}

.path .title {
    padding: 0.25em;
}

.path-step::before {
    content: "\2192";
    color: grey;
    padding: 0.25em;
}

table.grid {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.grid th {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
}

.grid th.filler {
    width: 5em;
}

.grid th.column {
    height: 1em;
}

.grid th.spacer {
    width: 3px;
    height: 3px;
}

.grid th.row {
    width: 0;
    padding: 0 0.2em;
}

.grid th.row.left {
    text-align: right;
}

.grid th.row.right {
    text-align: left;
}

.grid td {
    text-align: center;
    vertical-align: middle;
    /* border: 2px solid black; */
}

.grid td div {
    overflow-x: hidden;
}

.grid td.grid {
    text-decoration: underline;
    /* border-width: 2px; */
    /* border-style: outset; */
}

.grid .empty {
    background: #111;
    color: #111;
}
