.state-INIT {
    background: rgb(204,204,122);
}

.state-DISABLE {
    background: rgb(255,0,255);
}

.state-STANDBY {
    background: rgb(255,255,0);
    color: black;
}

.state-ON, .state-OPEN, .state-EXTRACT {
    color: black;
    background: #00FF00;
}

.state-OFF, .state-CLOSE, .state-INSERT {
    color: grey;
    background: white;
}

.state-FAULT {
    color: white;
    background: red;
}

.state-RUNNING, .state-MOVING {
    background: rgb(128,160,255);
}

.state-ALARM {
    color: white;
    background: rgb(255,140,0);
}

.state-UNKNOWN {
    color: white;
    background: rgb(128,128,128);
}

.state-NA {
    color: black;
    background: rgb(128,128,128);
}
